old/
output/
.RData
.Rhistory
software/vdjdb*
slides/slides.aux
software/latest-version.txt
software/LICENSE.txt
slides/*.toc
slides/*.log
slides/*.out
slides/*.snm
slides/*.nav
slides/*.gz
slides/*.aux